# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
migrations/__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env/
.venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development settings
local_settings.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
